<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %>.  Choose a file to view:</p>
	<ul>
	<% files.forEach(function(file){ %>
		<li><a href="/questions?filename=<%= encodeURIComponent(file) %>"><%= file %></a></li>
	<% }); %>
	</ul>
	<p>&hellip;or choose to <a href="/unzip">extract</a> all Blackboard pool question downloads that you've saved in the "blackboard_question_pool_zips" directory.</p>
	<p>If you just ran the unzipper, you may need to reload the page to see the new XML files as they are being extracted.</p>
</body>
</html>