<!DOCTYPE html>
<html>
<head>
	<title><%= filename %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/javascripts/solutions.js"></script>
</head>
<body>

<p><a href="/">&laquo; Return Home</a></p>

<p><button onclick="toggleSolutions()">Show/Hide Solutions</button></p>

<% items.forEach(function(item){ %>
<section>
	<h2>Question <%= item.shortId %></h2>

	<%- item.question %>

	<% if(item.isFillInTheBlank){ %>

		<p><em>This question has no choices.</em></p>
		
	<% }else if(item.choices){ %>

	<h3>Choices</h3>

	<ol class="mc">
	<% item.choices.forEach(function(choice){ %>
		<li
			data-bbid="<%= choice.id %>"
			data-correct="<%= choice.correct %>"
			data-match-index="<%= choice.matchIndex %>">
			<%- choice.text %>
		</li>
	<% }); %>
	</ol>

	<% } if(item.matchingChoices){ %>

	<h3>Matching Choices</h3>

	<ol class="matching">
	<% item.matchingChoices.forEach(function(choice){ %>
		<li
			data-bbid="<%= choice.id %>">
			<%- choice.text %>
		</li>
	<% }); %>
	</ol>

	<% } %>

</section>
<% }); %>

</body>
</html>