body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
body.reveal ol.mc > li[data-correct="true"] {
  font-style: italic;
  font-weight: bold;
  color: #00f;
}
body.reveal ol.mc > li[data-correct="false"] {
  color: #ffc0cb;
}
body.reveal ol.mc > li .match-solution {
  font-style: italic;
  font-weight: bold;
  color: #00f;
}
