body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
body.reveal ol.mc > li
	&[data-correct="true"]
		font-style: italic
		font-weight: bold
		color: blue
	&[data-correct="false"]
		color: pink
	.match-solution
		font-style: italic
		font-weight: bold
		color: blue